{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "no-console": "off",
    "semi": ["error", "never"]
  }
}
